<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ant Media Server</title>

<!-- 1. skin -->
<link rel="stylesheet"
	href="//releases.flowplayer.org/7.2.4/skin/skin.css">

<!-- 3. flowplayer -->
<script src="//releases.flowplayer.org/7.2.4/flowplayer.min.js"></script>

<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>

<script src="js/fetch.js"></script>
<script src="js/promise.min.js"></script>
<script src="js/fetch.stream.js"></script>
<link href="css/player.css" rel="stylesheet">
</head>
<body>
	<div id="video_info">
	</div>
	<div style="width: 100%; max-width: 960px;" id="video_container">
		<div id="video-player" class="fp-slim"></div>
	</div>

	<script>
		var name = "<%= request.getParameter("name") %>";
		var token = "<%= request.getParameter("token") %>";
		
		var pAutoplay = "<%= request.getParameter("autoplay") %>";
		var autoPlay = false;
		if (pAutoplay == "true" && !isMobile()) {
			autoPlay = true;
		}

		function initializePlayer(name, extension, token) {
			var type;
			var liveStream = false;
			if (extension == "mp4") {
				type = "video/mp4";
				liveStream = false;
			} else if (extension == "m3u8") {
				type = "application/x-mpegurl";
				liveStream = true;
			} else {
				console.log("Unknown extension: " + extension);
				return;
			}

			var preview = name;
			if (name.endsWith("_adaptive")) {
				preview = name.substring(0, name.indexOf("_adaptive"));
			}

			flowplayer("#video-player", {
				poster : "previews/" + preview + ".png",
				autoplay : autoPlay,
				ratio : 9 / 16,
				fullscreen : true,
				native_fullscreen : true,
				clip : {
					live : liveStream,
					sources : [ {
						type : type,
						src : "streams/" + name + "." + extension + "?token=" + token
					} ]
				},
				hlsjs: {
					recoverMediaError: true,
					recoverNetworkError: true,
				}
			});

			document.getElementById("video_container").style.display = "block";
			document.getElementById("video_info").hidden = true;

		}

		tryToPlay(name, token);
	</script>

</body>
</html>